[submodule "year4/semester1/CT417/assignments/assignment1/as01-setup-musicfinder-andrew-cathal"]
	path = year4/semester1/CT417/assignments/assignment1/as01-setup-musicfinder-andrew-cathal
	url = git@github.com:CS-UniversityOfGalway/as01-setup-musicfinder-andrew-cathal.git
